/** @format */

:root {
  --main-color: #2e2d38;
  --secondary-color: white;
  --main-text-color: #2e2e2e;
  --secondary-text-color: #131935;
  --sidebar-text-color: lightgrey;
  --sidebar-secondary-text-color: lightgrey;
  --text-active: blue;
  --text-hover: red;
  --bubble-background: lightblue;
  --send-message-form: #f5f5f5;
}

@import url('https://fonts.googleapis.com/css?family=Karla|Roboto+Mono&display=swap');

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: system-ui;
  font-weight: 200;
  color: var(--main-color);
}

#root {
  height: 100%;
  font-family: 'Karla', sans-serif;
}

/** font-family: 'Roboto Mono', monospace;
*/

.signup {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: var(--main-color);
}
.chat {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 280px 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 80px;
  grid-template-areas:
    'r m m m m m'
    'r m m m m m'
    'r m m m m m'
    'r m m m m m'
    'r m m m m m'
    'n f f f f f';
}

.new-room-form {
  grid-area: n;
}

.rooms-list {
  grid-area: r;
}

.message-list {
  grid-area: m;
}

.send-message-form {
  grid-area: f;
}

.help-text {
  position: absolute;
  top: 10px;
}
